body{
 background-color: #ADD8E6;;
 
 
}

h1 {
  color: #FF5733; 
}
nav {
  border-bottom: 2px solid black;
}
nav ul li a {
  font-size: 18px;
}

footer {
  text-align: center;
}

.box {
  background-color: #F2F2F2;
  padding: 20px;
}